html {
  background-color: black;
}

p {
  color: white;
  font-size: 20px;
}

li {
  font-size: 28px;
}

#Bar li {
  display: inline;
  float: left;
    font-size: 20px;
}

#Bar li a {
  display: block;
  padding: 8px;
  background-color: #a3a3a3;
}

ul#Bar {
  padding: 0px;
}


h4 {
  font-size: 20px;
  color: white;
}
