div.TestAreaBlue {
  background-color: blue;
  width: 1920px;
  height: 1080px;
  line-height: 960px;
}


div.TestArea {
  background-color: white;
  width: 1920px;
  height: 1080px;
  line-height: 960px;
}

div.TestAreaRed {
  background-color: red;
  width: 1920px;
  height: 1080px;
  line-height: 960px;
}


p#Start {
  color: black;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  text-align: center;
  font-size: 45px;
  left: 25%;
  right: 25%;
  overflow: visible;
}

p {
  color: black;
}
