div.TestAreaBlue {
  background-color: #5495ff;
  display: inline-block;
  width: 800px;
  height: 600px;
  line-height: 400px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}


div.TestArea {
  background-color: white;
  display: inline-block;
  width: 800px;
  height: 600px;
  line-height: 400;
  border-radius: 10px;
  text-align: center;

}

div.TestAreaRed {
  background-color: #fc4137;
  display: inline-block;
  width: 800px;
  height: 600px;
  line-height: 400px;
  border-radius: 10px;
  text-align: center;

}


p#Start {
  color: #f9f7f7;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  font-size: 45px;
  overflow: visible;
  margin-left: -18%;
}
