div.TestAreaBlue {
  background-color: #4880c4;
  cursor: pointer;
  display: inline-block;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}


div.TestArea {
  background-color: white;
  cursor: pointer;
  display: inline-block;
  width: 800px;
  height: 600px;
  line-height: 400;
  border-radius: 10px;
  text-align: center;

}

div.TestAreaRed {
  background-color: #b54141;
  cursor: pointer;
  display: inline-block;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 10px;
  text-align: center;

}


div.TestAreaGreen {
  background-color: #41b54c;
  cursor: pointer;
  display: inline-block;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 10px;
  text-align: center;

}


p#Start {
  color: #f9f7f7;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 45px;
  overflow: hidden;

}

/* Credit to W3 for popbox */

.popbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.popbox-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 43%;
  border-radius: 25px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.popbox-content img {
  display: block;
  margin: auto;
  width: 25%;
}

.popbox-content p {
  font-size: 30px;
}

/* Credit to: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */


* {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}

html {
  background-color: black;
}

li {
  font-size: 28px;
}

#Bar li {
  display: inline;
  float: left;
  font-size: 30px;
  position: relative;

}

#Bar li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  position: relative;

}

ul#Bar {
  padding: 0px;
  margin: 0px;
  position: absolute;

}
