div.TestAreaBlue {
  background-color: #5495ff;
  cursor: pointer;
  display: inline-block;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}


div.TestArea {
  background-color: white;
  cursor: pointer;
  display: inline-block;
  width: 800px;
  height: 600px;
  line-height: 400;
  border-radius: 10px;
  text-align: center;

}

div.TestAreaRed {
  background-color: #fc4137;
  cursor: pointer;
  display: inline-block;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 10px;
  text-align: center;

}


div.TestAreaGreen {
  background-color: #0daf01;
  cursor: pointer;
  display: inline-block;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 10px;
  text-align: center;

}


p#Start {
  color: #f9f7f7;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 45px;
  overflow: hidden;

}
